@charset "utf-8";

$primary: rgba(255,152,25,0.7);

html{
  scroll-behavior: smooth;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 680px) {
  .navigation {
    flex-direction: row;
  }
}

.title {
  margin-bottom: 0;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main, .location{
  background-color: rgba(0,134,200, 0.3);
}

.starters .title, .main .title, .desserts .title, .location .title{
  text-align: center;
}

.main .columns{
  padding-bottom: 80px;
}

.main .title{
  padding-top: 40px;
}

.starters{
  padding-top: 40px;
  padding-bottom: 80px;
}

.desserts{
  padding-top: 40px;
  padding-bottom: 80px;
}

.location{
  padding-top: 40px;
  padding-bottom: 80px;
}

.contact{
  text-align: center;
  background-color: #00537A;
  padding-top: 40px;
  padding-bottom: 80px;
}

@import "../node_modules/bulma/bulma.sass";
